<h1>Showing selected article</h1>

<%= @article.title %>&nbsp;<%= link_to 'edit', edit_article_path(@article)  %>

<%= link_to 'edit this article', edit_article_path(@article) %>
<%= link_to '< back', articles_path %>