$navbar-default-bg: #eaeaea;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size:1.7em;
  color: #333;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #222;
  text-decoration: none;
}

.center{
  text-align:center;
}

.jumbotron{
  background-image: asset-url('mocks');
  background-size: cover;
}

.jumbotron h1{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -9px;
  font-weight: bold;
}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}


.description {
  margin-top: 0;
}

.article-title{
  font-weight: bold;
  font-size:1.5em;
}

.article-description{
  border-top: 1px solid #eaeeae;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing{
  list-style: none;
  margin:0px;
  padding:0px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer ul {
  float:right;
  list-style: none;
}

footer ul li {
  float: left;
}