<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://google.com">developed by me!</a>
    </small>
  
    <nav>
      <ul>
        <li>
          <%= link_to 'services', services_path %>
        </li>
      </ul>
    </nav>

  </footer>
</div>